        <!-- Report Balance Sheet -->
        <div id="reports-balancesheet" class="w3-container" style="display:none;">
            <br/><br/><br/>
            <h2 class="w3-yellow">Reports: BALANCE SHEET</h2>
            <button class="w3-button w3-block w3-orange" id="reports-balancesheet-back">Back</button>
            <br/>
            <label for="reports-balancesheet-start-date">Starting Date</label>
            <input type="date" id="reports-balancesheet-start-date" class="w3-input w3-block" value="" />
            <label for="reports-balancesheet-end-date">Ending Date</label>
            <input type="date" id="reports-balancesheet-end-date" class="w3-input w3-block" value="" />
            <button id="reports-balancesheet-create" class="w3-button w3-black w3-block">Create Report</button>
            <fieldset>
                <legend>Balance Sheet Report</legend>
                <textarea class="w3-input w3-block" rows="10" id="reports-balancesheet-textarea"></textarea>
            </fieldset>
            <br/><br/><br/>
        </div>
        <!-- Report Income Statement -->
        <div id="reports-incomestatement" class="w3-container" style="display:none;">
            <br/><br/><br/>
            <h2 class="w3-yellow">Reports: INCOME STATEMENT</h2>
            <button class="w3-button w3-block w3-orange" id="reports-incomestatement-back">Back</button>
            <br/>
            <label for="reports-incomestatement-start-date">Starting Date</label>
            <input type="date" id="reports-incomestatement-start-date" class="w3-input w3-block" value="" />
            <label for="reports-incomestatement-end-date">Ending Date</label>
            <input type="date" id="reports-incomestatement-end-date" class="w3-input w3-block" value="" />
            <button id="reports-incomestatement-create" class="w3-button w3-black w3-block">Create Report</button>
            <fieldset>
                <legend>Income Statement Report</legend>
                <textarea class="w3-input w3-block" rows="10" id="reports-incomestatement-textarea"></textarea>
            </fieldset>
            <br/><br/><br/>
        </div>
        <!-- Report Trial Balance -->
        <div id="reports-trialbalance" class="w3-container" style="display:none;">
            <br/><br/><br/>
            <h2 class="w3-yellow">Reports: TRIAL BALANCE</h2>
            <button class="w3-button w3-block w3-orange" id="reports-trialbalance-back">Back</button>
            <br/>
            <label for="reports-trialbalance-start-date">Starting Date</label>
            <input type="date" id="reports-trialbalance-start-date" class="w3-input w3-block" value="" />
            <label for="reports-trialbalance-end-date">Ending Date</label>
            <input type="date" id="reports-trialbalance-end-date" class="w3-input w3-block" value="" />
            <button id="reports-trialbalance-create" class="w3-button w3-black w3-block">Create Report</button>
            <fieldset>
                <legend>Trial Balance Report</legend>
                <textarea class="w3-input w3-block" rows="10" id="reports-trialbalance-textarea"></textarea>
            </fieldset>
            <br/><br/><br/>
        </div>
