<div id="export-panel" class="w3-container" style="display:none;">
    <br/><br/><br/>
    <h2 class="w3-yellow">Export:</h2>
    <button class="w3-button w3-block w3-orange" id="export-panel-back">Back</button>
    <br/>
        <label for="export-panel-source">Destination</label>
        <select id="export-panel-source" class="w3-input w3-block">
            <option value="">Select</option>
            <option value="csv">CSV</option>
            <option value="json">JSON</option>
            <option value="xml">XML</option>
            <option value="pdf">PDF</option>    
        </select>
    <br/>
    <button id="export-panel-submit" class="w3-button w3-block w3-black">Submit</button>
    <br/><br/><br/>
</div>
