<!-- Help -->
<div id="help" class="w3-container" style="display:none;">
    <br/><br/><br/>
    <h2 class="w3-yellow">Help:</h2>
    <button class="w3-button w3-block w3-orange" id="help-back">Back</button>
    <br/>
    <ul class="w3-ul">
        <li><a href="#" onclick="open_browser('https://support.pingleware.work')" class="w3-button w3-block w3-black">Support</a></li>
        <li><a href="#" onclick="open_browser('https://www.amazon.com/dp/B07H1GQZYC')" class="w3-button w3-block w3-black">Manual</a></li>
        <li><a href="#" onclick="open_browser('https://www.thriftbooks.com/w/bookkeeping-all-in-one-for-dummies_for-dummies/13469183/')" class="w3-button w3-block w3-black">Bookkeping for Dummies</a></li>
        <li><a href="#" onclick="open_browser('https://www.thriftbooks.com/w/nonprofit-bookkeeping--accounting-for-dummies_sharon-farris/385204')" class="w3-button w3-block w3-black">Nonprofit Bookkeeping & Accounting for Dummies</a></li>
        <li><a href="#" onclick="open_browser('https://www.thriftbooks.com/w/auditing-for-dummies_maire-loughran/579110')" class="w3-button w3-block w3-black">Auditing for Dummies</a></li>
        <li><a href="#" onclick="open_browser('https://www.thriftbooks.com/w/handbook-of-budgeting/1599886')" class="w3-button w3-block w3-black">Handbook of Budgeting</a></li>
    </ul>    
    <br/><br/><br/>
</div>