<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BestBooks&trade; Accounting Application Franework</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    </head>
    <body>
        <!-- Header -->
        <div class="w3-container w3-blue w3-top">
            <h4>BestBooks<sup>&trade;</sup> Accounting Application Framework</h4>
        </div>
        <!-- Company Panel -->
        <div class="w3-container" id="company">
            <br/><br/><br/>
            <fieldset>
                <legend>Select Company</legend>
                <select class="w3-input w3-block" id="company-list"></select>
                <br/>
                <button onclick="document.getElementById('add-company-dialog').style.display='block';" class="w3-button w3-block w3-green">Add Company</button>
            </fieldset>
            <br/><br/><br/>
        </div>
        <!-- Add Company Dialog -->
        <div id="add-company-dialog" class="w3-modal">
            <div class="w3-modal-content">
                <div class="w3-container w3-white">
                    <h2 class="w3-green">Add Company</h2>
                    <label for="company-name">Name</label>
                    <input type="text" id="company-name" class="w3-input w3-block" value="" />
                    <label for="company-note">Note(s)</label>
                    <textarea class="w3-input w3-block" rows="5" id="company-note"></textarea>
                    <br/>
                    <button class="w3-button w3-block w3-black" id="add-company">Submit</button>
                    <br/>
                    <button class="w3-button w3-block w3-orange" onclick="document.getElementById('add-company-dialog').style.display='none';">Cancel</button>
                    <br/>
                </div>
            </div>
        </div>
        <!-- Main Panel -->
        <div class="w3-container" id="main" style="display:none;">
            <br/><br/><br/>
            <div>Company: <b id="main-company-name"></b></div>
            <div>Timezone: <b id="main-company-timezone"></b></div>
            <fieldset>
                <legend onclick="expand('sales-dropdown')" style="cursor:pointer;">Sales</legend>
                <ul class="w3-ul" id="sales-dropdown" style="display:none;">
                    <li><a href="#" class="w3-button w3-block w3-black">Estimates</a></li>
                    <li><a href="#" class="w3-button w3-block w3-black">Invoices</a></li>
                    <li><a href="#" class="w3-button w3-block w3-black">Recurring Invoices</a></li>
                    <li><a href="#" class="w3-button w3-block w3-black">Payments</a></li>
                    <li><a href="#" class="w3-button w3-block w3-black">Customer Statements</a></li>
                    <li><a href="#" class="w3-button w3-block w3-black">Customers</a></li>
                    <li><a href="#" class="w3-button w3-block w3-black">Products &amp; Invoices</a></li>
                </ul>
            </fieldset>
            <fieldset>
                <legend onclick="expand('purchases-dropdown')" style="cursor:pointer;">Purchases</legend>
                <ul class="w3-ul" id="purchases-dropdown" style="display:none;">
                    <li><a href="#" class="w3-button w3-block w3-black">Bills</a></li>
                    <li><a href="#" class="w3-button w3-block w3-black">Receipts</a></li>
                    <li><a href="#" class="w3-button w3-block w3-black">Vendors</a></li>
                    <li><a href="#" class="w3-button w3-block w3-black">Products &amp; Services</a></li>
                </ul>
            </fieldset>
            <fieldset>
                <legend onclick="expand('inventory-dropdown')" style="cursor:pointer;">Inventory</legend>
                <ul class="w3-ul" id="inventory-dropdown" style="display:none;">
                    <li><a href="#" class="w3-button w3-block w3-black">Products</a></li>
                    <li><a href="#" class="w3-button w3-block w3-black">Services</a></li>
                </ul>
            </fieldset>
            <fieldset>
                <legend onclick="expand('accounting-dropdown')" style="cursor:pointer;">Accounting</legend>
                <ul class="w3-ul" id="accounting-dropdown" style="display:none;">
                    <li><a href="#" id="accounting-transactions-button" class="w3-button w3-block w3-black">Transactions</a></li>
                    <li><a href="#" id="accounting-chartofaccounts-button" class="w3-button w3-block w3-black">Chart of Accounts</a></li>
                    <li><a href="#" id="accounting-journals-button" class="w3-button w3-block w3-black">Journals</a></li>
                    <li><a href="#" class="w3-button w3-block w3-black">Starting Balances</a></li>
                    <li><a href="#" class="w3-button w3-block w3-black">Budgeting</a></li>
                </ul>
            </fieldset>
            <fieldset>
                <legend onclick="expand('banking-dropdown')" style="cursor:pointer;">Banking</legend>
                <ul class="w3-ul" id="banking-dropdown" style="display:none;">
                    <li><a href="#" class="w3-button w3-block w3-black">Accounts</a></li>
                </ul>
            </fieldset>
            <fieldset>
                <legend onclick="expand('payroll-dropdown')" style="cursor:pointer;">Payroll</legend>
                <ul class="w3-ul" id="payroll-dropdown" style="display:none;">
                    <li><a href="#" class="w3-button w3-block w3-black">Onboard</a></li>
                    <li><a href="#" class="w3-button w3-block w3-black">Manage</a></li>
                    <li><a href="#" class="w3-button w3-block w3-black">Pay</a></li>
                </ul>
            </fieldset>
            <fieldset>
                <legend onclick="expand('reports-dropdown')" style="cursor:pointer;">Reports</legend>
                <ul class="w3-ul" id="reports-dropdown" style="display:none;">
                    <li><a href="#" class="w3-button w3-block w3-black">Balance Sheet</a></li>
                    <li><a href="#" class="w3-button w3-block w3-black">Income Statement</a></li>
                    <li><a href="#" class="w3-button w3-block w3-black">Aged Receivables</a></li>
                    <li><a href="#" class="w3-button w3-block w3-black">Aged Payables</a></li>
                    <li><a href="#" class="w3-button w3-block w3-black">Trial Balances</a></li>
                    <li><a href="#" class="w3-button w3-block w3-black">General Ledger</a></li>
                    <li><a href="#" class="w3-button w3-block w3-black">Account Transactions</a></li>
                    <li><a href="#" class="w3-button w3-block w3-black">Income by Customer</a></li>
                    <li><a href="#" class="w3-button w3-block w3-black">Expense by Vendor</a></li>
                    <li><a href="#" class="w3-button w3-block w3-black">Sales Tax Report</a></li>
                    <li><a href="#" class="w3-button w3-block w3-black">Payroll Wage &amp; Tax Report</a></li>
                </ul>
            </fieldset>
            <fieldset>
                <legend>Settings</legend>
                <ul class="w3-ul">
                    <li><a href="#" class="w3-button w3-block w3-black">Settings</a></li>
                </ul>
            </fieldset>
            <fieldset>
                <legend>Help</legend>
                <ul class="w3-ul">
                    <li><a href="#" class="w3-button w3-block w3-black">Help</a></li>
                </ul>
            </fieldset>
            <button id="main-back" class="w3-button w3-block w3-orange">Back</button>
            <br/><br/><br/>
        </div>
        <!-- Accounting Transactions -->
        <div id="accounting-transactions" class="w3-container" style="display:none;">
            <br/><br/><br/>
            <input type="button" id="add_transaction" value="Add Transaction" class="w3-button w3-block w3-green" />
            <br/>
            <button class="w3-button w3-block w3-orange" id="accounting-transactions-back">Back</button>
            <table class="w3-table w3-striped w3-block" id="transactions-table">
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th width="10%">Description</th>
                    <th>Account</th>
                    <th>Debit</th>
                    <th>Credit</th>
                    <th>Action</th>
                </tr>
            </table>
            <div id="add-transaction-dialog" class="w3-modal">
                <div class="w3-modal-content">
                    <div class="w3-container w3-white">
                        <h2 class="w3-green">Add Transaction</h2>
                        <label for="account_name">Account</label>
                        <select id="account_name" class="w3-input w3-block" name="account_name"></select>
                        <label for="account_type">Type</label>
                        <select id="account_type" class="w3-input w3-block" name="account_type"></select>
                        <label for="account_date">Date</label>
                        <input type="date" class="w3-input w3-block" name="account_date" id="account_date" value="" />
                        <label for="account_time">Time</label>
                        <input type="time" class="w3-input w3-block" name="account_time" id="account_time" value="" />
                        <label for="account_description">Description</label>
                        <input type="text" class="w3-input w3-block" name="account_description" id="account_description" value="" />
                        <label for="account_debit">Debit</label>
                        <input type="number" class="w3-input w3-block" name="account_debit" id="account_debit" value="0.00" />
                        <label for="account_credit">Credit</label>
                        <input type="number" class="w3-input w3-block" name="account_credit" id="account_credit" value="0.00" />
                        <br/>
                        <input type="button" class="w3-button w3-block w3-black" id="add_transaction_action" name="add_transaction_action" value="Add" />
                        <br/>
                        <button class="w3-button w3-block w3-orange" onclick="document.getElementById('add-transaction-dialog').style.display='none';">Cancel</button>
                        <br/>
                    </div>
                </div>
            </div>
            <br/><br/><br/>
        </div>
        <!-- Accounting Chart of Accounts -->
        <div id="accounting-chartofaccounts" class="w3-container" style="display:none;">
            <br/><br/><br/>
            <input type="button" id="add_account" value="Add Account" class="w3-button w3-block w3-green" />
            <br/>
            <button class="w3-button w3-block w3-orange" id="accounting-chartofaccounts-back">Back</button>
            <table class="w3-table w3-striped w3-block w3-responsive" id="chartofaccounts-table" style="table-layout:fixed;">
                <tr>
                    <th width="20%">ID</th>
                    <th width="20%">Name</th>
                    <th width="20%">Type</th>
                    <th width="20%">Balance</th>
                    <th width="20%">In-Use</th>
                </tr>
            </table>
            <div class="w3-modal" id="accounting-chartofaccounts-addnew">
                <div class="w3-modal-content">
                    <div class="w3-container w3-white">
                        <h2 class="w3-green">Add New Account</h2>
                        <label for="addnew-name">Name</label>
                        <input type="text" class="w3-input w3-block" id="addnew-name" value="" />
                        <label for="addnew-type">Type</label>
                        <select class="w3-input w3-block" id="addnew-type"></select>
                        <br/>
                        <button id="addnew-now" class="w3-button w3-block w3-black">Save</button>
                        <br/>
                        <button class="w3-button w3-block w3-orange" onclick="document.getElementById('accounting-chartofaccounts-addnew').style.display='none';">Cancel</button>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
        <!-- Accounting Journals -->
        <div id="accounting-journals" class="w3-container" style="display:none;">
            <br/><br/><br/>
            <input type="button" id="add_journal_transaction" value="Add Journal Transaction" class="w3-button w3-block w3-green" />
            <br/>
            <button class="w3-button w3-block w3-orange" id="accounting-journals-back">Back</button>
            <table id="journal_transactions_table" class="w3-table w3-block w3-striped">
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Reference</th>
                    <th>Account</th>
                    <th>Debit</th>
                    <th>Credit</th>
                    <th>Action</th>
                </tr>
            </table>
            <div id="add-journal-transaction-dialog" class="w3-modal">
                <div class="w3-modal-content">
                    <div class="w3-container w3-white">
                        <h2 class="w3-green">Add Journal Transaction</h2>
                        <label for="journal_account_name">Account</label>
                        <select id="journal_account_name" class="w3-input w3-block" name="journal_account_name"></select>
                        <label for="account_date">Date</label>
                        <input type="date" class="w3-input w3-block" name="account_date" id="account_date" value="" />
                        <label for="account_reference">Reference</label>
                        <input type="number" class="w3-input w3-block" name="account_reference" id="account_reference" value="" />
                        <label for="account_description">Description</label>
                        <input type="text" class="w3-input w3-block" name="account_description" id="account_description" value="" />
                        <label for="account_debit">Debit</label>
                        <input type="number" class="w3-input w3-block" name="account_debit" id="account_debit" value="0.00" />
                        <label for="account_credit">Credit</label>
                        <input type="number" class="w3-input w3-block" name="account_credit" id="account_credit" value="0.00" />
                        <input type="button" class="w3-button w3-block w3-black" id="add_transaction_action" name="add_transaction_action" value="Add" />
                        <br/>
                        <button class="w3-button w3-block w3-orange" onclick="document.getElementById('add-journal-transaction-dialog').style.display='none';">Cancel</button>
                        <br/>
                    </div>
                </div>
            </div>
            <br/><br/><br/>
        </div>
        <!-- Accounting Starting Balances -->
        <div id="accounting-starting-balances" class="w3-container" style="display:none;"></div>
        <!-- Accounting Budget -->
        <div id="accounting-budget" class="w3-container" style="display:none;"></div>
        <!-- SUCCESS DIALOG -->
        <div id="success-dialog" class="w3-modal">
            <div class="w3-modal-content">
            <div class="w3-container">
                <h2 class="w3-green" id="success-dialog-title">Success</h2>
                <p id="success-dialog-message"></p>
                <br />
                <button class="w3-button w3-block w3-black" onclick="document.getElementById('success-dialog').style.display='none';">OK</button>
                <br />
            </div>
            </div>
        </div>
        <!-- ERROR DIALOG -->
        <div id="error-dialog" class="w3-modal">
            <div class="w3-modal-content">
            <div class="w3-container">
                <h2 class="w3-red" id="error-dialog-title">Error</h2>
                <p id="error-dialog-message"></p>
                <br />
                <button class="w3-button w3-block w3-black" id="error-dialog-ok" onclick="document.getElementById('error-dialog').style.display='none';">OK</button>
                <br />
            </div>
            </div>
        </div>
        <!-- CONFIRM DIALOG -->
        <div id="confirm-dialog" class="w3-modal">
            <div class="w3-modal-content">
            <div class="w3-container">
                <h2 class="w3-red" id="confirm-dialog-title">Error</h2>
                <p id="confirm-dialog-message"></p>
                <br />
                <button class="w3-button w3-block w3-light-grey" id="confirm-dialog-yes">Yes</button>
                <br />
                <button class="w3-button w3-block w3-light-grey" onclick="document.getElementById('confirm-dialog').style.display='none';">No</button>
                <br />
            </div>
            </div>
        </div>        
        <!-- Footer -->
        <div class="w3-container w3-card w3-blue w3-bottom">
            <p class="w3-center">
                &copy; <span id="year">2022</span>&nbsp;<a href="https://presspage.info" target="_blank" style="text-decoration: none;">PressPage Entertainment Inc</a> DBA <a href="https://pingleware.work" target="_blank" style="text-decoration:none;">PINGLEWARE</a>
                &nbsp;All rights reserved.
                &nbsp;<span class="w3-tiny" id="version"></span>
            </p>
        </div>        
        <!-- JavaScript -->
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript">
            var company = { id: 0, name: ''};

            window.onload = function() {
                document.getElementById('version').innerHTML = 'Version ' + localStorage.getItem('version');

                var year = new Date().getFullYear();
                if (year > 2022) {
                    document.getElementById('year').innerHTML = `2022-${year}`;
                } else {
                    document.getElementById('year').innerHTML = year;
                }

                var companies = localStorage.getItem("companies");
                if (companies.length > 0) {
                    companies = JSON.parse(localStorage.getItem("companies"));
                }
                console.log(companies)
                document.getElementById("company-list").innerHTML = '<option value="">Select</option>';
                companies.forEach(function(company){
                    if (company.name !== "undefined") {
                        var option = document.createElement('option');
                        option.value = company.id;
                        option.innerHTML = company.name;
                        option.setAttribute("data-name",company.name);
                        document.getElementById("company-list").appendChild(option);
                    }
                })
            }

            document.getElementById("company-list").addEventListener("change", function(e){
                e.preventDefault();
                if (this.value !== "") {
                    company.id = this.value;
                    company.name = this.options[this.selectedIndex].getAttribute("data-name");

                    localStorage.setItem("company_id",company.id);

                    document.getElementById("main-company-name").innerHTML = company.name;

                    var split = new Date().toString().split(" ");
                    var timeZoneFormatted = split[5];
                    document.getElementById("main-company-timezone").innerHTML = timeZoneFormatted;

                    document.getElementById("company").style.display = "none";
                    document.getElementById("main").style.display = "block";
                } else {
                    company.id = 0;
                    company.name = '';
                }
                console.log(company);
            })

            function expand(element_id) {
                var element = document.getElementById(element_id);
                if (element.style.display == "none") {
                    element.style.display = "block";
                } else {
                    element.style.display = "none";
                }
            }

            document.getElementById("add-company").addEventListener("click", function(e){
                e.preventDefault();
                var data = {
                    name: document.getElementById("company-name").value,
                    note: document.getElementById('company-note').value
                }
                SendIPC('add_company',JSON.stringify(data),function(channel,event,result){
                    console.log(result);
                    document.getElementById('company-name').value='';
                    document.getElementById('company-note').value='';
                    document.getElementById('add-company-dialog').style.display='none';
                })
            });
            document.getElementById("main-back").addEventListener("click",function(e){
                company.id = 0;
                company.name = '';

                document.getElementById("company-list").value = "";

                document.getElementById("main").style.display = "none";
                document.getElementById("company").style.display = "block";

                e.preventDefault();
            });
            document.getElementById("accounting-chartofaccounts-button").addEventListener("click",function(e){
                e.preventDefault();
                getAccounts(function(results){
                    console.log(results);
                    var accounts = JSON.parse(results);
                    document.getElementById("chartofaccounts-table").innerHTML = `<tr>
                        <th width="20%">ID</th>
                        <th width="20%">Name</th>
                        <th width="20%">Type</th>
                        <th width="20%">Balance</th>
                        <th width="20%">In-Use</th>
                    </tr>`;
                    accounts.forEach(function(account){
                        console.log(account);
                        var checked = `No, <button data-id="${account.name}" class="w3-button w3-red">Delete</button>`;
                        if (account.in_use == 1) {
                            checked = 'Yes';
                        }
                        document.getElementById("chartofaccounts-table").innerHTML += `<tr>
                            <td>${account.id}</td>
                            <td>${account.name}</td>
                            <td>${account.type}</td>
                            <td>$ 0.00</td>
                            <td>${checked}</td>
                            </tr>`;
                    });
                })
                document.getElementById("main").style.display = "none";
                document.getElementById("accounting-chartofaccounts").style.display = "block";
            });
            document.getElementById("accounting-chartofaccounts-back").addEventListener("click",function(e){
                e.preventDefault();
                document.getElementById("accounting-chartofaccounts").style.display = "none";
                document.getElementById("main").style.display = "block";
            })
            document.getElementById("accounting-transactions-button").addEventListener("click", function(e){
                e.preventDefault();
                getTransactions(function(transactions){
                    console.log(transactions);
                    document.getElementById("transactions-table").innerHTML = `<tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Account</th>
                    <th>Debit</th>
                    <th>Credit</th>
                    <th>Action</th>
                    </tr>`;
                    transactions.forEach(function(transaction){
                        var base64 = btoa(transaction)
                        document.getElementById("transactions-table").innerHTML += `<tr>
                            <td>${transaction.id}</td>
                            <td>${transaction.date}</td>
                            <td>${transaction.note}</td>
                            <td>${transaction.name}</td>
                            <td>${transaction.debit}</td>
                            <td>${transaction.credit}</td>
                            <td>
                                <select class="w3-input" data-id="${transaction.id}" data-trans="${base64}" onchange="updateTransaction(this)">
                                    <option value="">Select</option>
                                    <option value="edit">Edit</option>
                                    <option value="delete">Delete</option>
                                </select>
                            </td>
                            </tr>`;
                    });
                    document.getElementById("main").style.display = "none";
                    document.getElementById("accounting-transactions").style.display = "block";
                });
            })
            document.getElementById("accounting-transactions-back").addEventListener("click", function(e){
                e.preventDefault();
                document.getElementById("accounting-transactions").style.display = "none";
                document.getElementById("main").style.display = "block";
            })
            document.getElementById("accounting-journals-button").addEventListener("click", function(e){
                e.preventDefault();

                getJournalTransactions(function(transactions){
                    document.getElementById("journal_transactions_table").innerHTML = `<tr>
                        <th>ID</th>
                        <th>Date</th>
                        <th>Reference</th>
                        <th>Account</th>
                        <th>Debit</th>
                        <th>Credit</th>
                        <th>Action</th>
                    </tr>`;
                    transactions.forEach(function(transaction){
                        var base64 = btoa(transaction)
                        document.getElementById("journal_transactions_table").innerHTML += `<tr>
                            <td>${transaction.id}</td>
                            <td>${transaction.txdate}</td>
                            <td>${transaction.ref}</td>
                            <td>${transaction.account}</td>
                            <td>${transaction.debit}</td>
                            <td>${transaction.credit}</td>
                            <td>
                                <select class="w3-input" data-id="${transaction.id}" data-trans="${base64}" onchange="updateJournalTransaction(this)">
                                    <option value="">Select</option>
                                    <option value="edit">Edit</option>
                                    <option value="delete">Delete</option>
                                </select>
                            </td>
                            </tr>`;
                    });

                    document.getElementById("main").style.display = "none";
                    document.getElementById("accounting-journals").style.display = "block";
                });
            });
            document.getElementById("add_journal_transaction").addEventListener("click", function(e){
                e.preventDefault();
                getAccounts(function(results){
                    console.log(results);
                    var accounts = JSON.parse(results);
                    accounts.forEach(function(account){
                        var option = document.createElement("option");
                        option.value = account.name;
                        option.innerText = account.name;
                        document.getElementById("journal_account_name").appendChild(option);
                    });
                    document.getElementById("add-journal-transaction-dialog").style.display = 'block';
                });
            });
            document.getElementById("accounting-journals-back").addEventListener("click", function(e){
                e.preventDefault();
                document.getElementById("accounting-journals").style.display = "none";
                document.getElementById("main").style.display = "block";
            })
            function getAccounts(callback) {
                SendIPC("get_accounts_by_company",company.id,function(channel,event,results){
                    callback(results);
                });
            }
            function getTransactions(callback) {
                SendIPC("get_transactions",company.id,function(channel,event,results){
                    callback(JSON.parse(results));
                })
            }
            function getJournalTransactions(callback) {
                SendIPC("get_journal_transactions",company.id,function(channel,event,results){
                    callback(JSON.parse(results));
                })
            }
            document.getElementById("add_account").addEventListener("click",function(e){
                e.preventDefault();
                var account_types = Object.keys(JSON.parse(localStorage.getItem("accountTypes"),true));
                console.log(account_types);
                account_types.forEach(function(account_type){
                    var option = document.createElement('option');
                    option.value = account_type;
                    option.innerHTML = account_type;
                    document.getElementById("addnew-type").appendChild(option);
                });
                document.getElementById('accounting-chartofaccounts-addnew').style.display='block';
            });
            document.getElementById("addnew-now").addEventListener("click", function(e){
                e.preventDefault();
                var data = {
                    name: document.getElementById("addnew-name").value,
                    type: document.getElementById("addnew-type").value,
                    company: company.id
                };
                console.log(data);
                SendIPC("add_account",JSON.stringify(data),function(channel,event,result){
                    console.log(result);
                    document.getElementById("addnew-name").value = "";
                    document.getElementById("addnew-type").value = "Unknown";
                    document.getElementById('accounting-chartofaccounts-addnew').style.display='none';
                });
            });
            document.getElementById("add_transaction").addEventListener("click", function(e){
                e.preventDefault();
                getAccounts(function(results){
                    console.log(results);
                    var accounts = JSON.parse(results);
                    accounts.forEach(function(account){
                        var option = document.createElement("option");
                        option.value = account.name;
                        option.innerText = account.name;
                        document.getElementById("account_name").appendChild(option);
                    });
                    var accountTypes = Object.keys(JSON.parse(localStorage.getItem("accountTypes")));
                    accountTypes.forEach(function(accountType){
                        var option = document.createElement("option");
                        option.value = accountType;
                        option.innerText = accountType;
                        document.getElementById("account_type").appendChild(option); 
                    });
                    document.getElementById('add-transaction-dialog').style.display='block';
                });
            });
            document.getElementById("add_transaction_action").addEventListener("click", function(e){
                e.preventDefault();
                var data = {
                    name: document.getElementById("account_name").value,
                    type: document.getElementById("account_type").value,
                    date: document.getElementById("account_date").value,
                    time: document.getElementById("account_time").value,
                    description: document.getElementById("account_description").value,
                    debit: document.getElementById("account_debit").value,
                    credit: document.getElementById("account_credit").value,
                    company: company.id
                };
                SendIPC("add_transaction",JSON.stringify(data),function(channel,event,result){
                    console.log(result);
                    document.getElementById("account_name").value = "Cash";
                    document.getElementById("account_type").value = "Unknown";
                    document.getElementById("account_date").value = "";
                    document.getElementById("account_time").value = "";
                    document.getElementById("account_description").value = "";
                    document.getElementById("account_debit").value = "0.00";
                    document.getElementById("account_credit").value = "0.00";
                    document.getElementById('add-transaction-dialog').style.display='none';
                });
            });
        </script>
    </body>
</html>