<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BestBooks&trade; Accounting Application Franework</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
        <script src="https://www.w3schools.com/lib/w3.js"></script>
    </head>
    <body>
        <!-- Header -->
        <div class="w3-container w3-blue w3-top">
            <h4>BestBooks<sup>&trade;</sup> Accounting Application Framework</h4>
        </div>
        <!-- Company Panel -->
        <div class="w3-container" id="company">
            <br/><br/><br/>
            <fieldset>
                <legend>Select Company</legend>
                <select class="w3-input w3-block" id="company-list"></select>
                <br/>
                <button onclick="document.getElementById('add-company-dialog').style.display='block';" class="w3-button w3-block w3-green">Add Company</button>
            </fieldset>
            <br/><br/><br/>
        </div>
        <!-- Add Company Dialog -->
        <div id="add-company-dialog" class="w3-modal">
            <div class="w3-modal-content">
                <div class="w3-container w3-white">
                    <h2 class="w3-green">Add Company</h2>
                    <label for="company-name">Name</label>
                    <input type="text" id="company-name" class="w3-input w3-block" value="" />
                    <label for="company-note">Note(s)</label>
                    <textarea class="w3-input w3-block" rows="5" id="company-note"></textarea>
                    <br/>
                    <button class="w3-button w3-block w3-black" id="add-company">Submit</button>
                    <br/>
                    <button class="w3-button w3-block w3-orange" onclick="document.getElementById('add-company-dialog').style.display='none';">Cancel</button>
                    <br/>
                </div>
            </div>
        </div>
        <!-- Main Panel -->
        <div class="w3-container" id="main" style="display:none;">
            <br/><br/><br/>
            <div>Company: <button style="font-weight: bold;" class="w3-button" id="main-company-name"></button></div>
            <div>Timezone: <b id="main-company-timezone"></b></div>
            <!-- Sales -->
            <fieldset>
                <legend onclick="expand('sales-dropdown')" style="cursor:pointer;">Sales</legend>
                <ul class="w3-ul" id="sales-dropdown" style="display:none;">
                    <li><a href="#" id="sales-estimates-button" class="w3-button w3-block w3-black">Estimates</a></li>
                    <li><a href="#" id="sales-invoices-button" class="w3-button w3-block w3-black">Invoices</a></li>
                    <li><a href="#" id="sales-recurring-invoices-button" class="w3-button w3-block w3-black">Recurring Invoices</a></li>
                    <li><a href="#" id="sales-payments-button" class="w3-button w3-block w3-black">Payments</a></li>
                    <li><a href="#" id="sales-customer-statements-button" class="w3-button w3-block w3-black">Customer Statements</a></li>
                    <li><a href="#" id="sales-customers-button" class="w3-button w3-block w3-black">Customers</a></li>
                    <li><a href="#" id="sales-products-services-button" class="w3-button w3-block w3-black">Products &amp; Services</a></li>
                    <li><a href="#" id="sales-payment-terms-methods-forms-button" class="w3-button w3-block w3-black">Payment Terms and Methods</a></li>
		            <li><a href="#" id="sales-tax-jurisdictions-button" class="w3-button w3-block w3-black">Sales Tax Jurisdictions</a></li>
                </ul>
            </fieldset>
            <!-- Purchases -->
            <fieldset>
                <legend onclick="expand('purchases-dropdown')" style="cursor:pointer;">Purchases</legend>
                <ul class="w3-ul" id="purchases-dropdown" style="display:none;">
                    <li><a href="#" id="purchases-purchaseorders-button" class="w3-button w3-block w3-black">Purchase Order</a></li>
                    <li><a href="#" id="purchases-bills-button" class="w3-button w3-block w3-black">Bills</a></li>
                    <li><a href="#" id="purchases-receipts-button" class="w3-button w3-block w3-black">Receipts</a></li>
                    <li><a href="#" id="purchases-vendors-button" class="w3-button w3-block w3-black">Vendors</a></li>
                    <li><a href="#" id="purchases-products-services-button" class="w3-button w3-block w3-black">Products &amp; Services</a></li>
                    <li><a href="#" id="purchases-payment-terms-methods-forms-button" class="w3-button w3-block w3-black">Payment Terms, Methods and Forms</a><br/></li>
                </ul>
            </fieldset>
            <!-- Inventory -->
            <fieldset>
                <legend onclick="expand('inventory-dropdown')" style="cursor:pointer;">Inventory</legend>
                <ul class="w3-ul" id="inventory-dropdown" style="display:none;">
                    <li><a href="#" id="inventory-products-button" class="w3-button w3-block w3-black">Products</a></li>
                    <li><a href="#" id="inventory-services-button" class="w3-button w3-block w3-black">Services</a></li>
                    <li><a href="#" id="inventory-capital-assets-button" class="w3-button w3-block w3-black">Capital Assets</a></li>
                </ul>
            </fieldset>
            <!-- Accounting -->
            <fieldset>
                <legend onclick="expand('accounting-dropdown')" style="cursor:pointer;">Accounting</legend>
                <ul class="w3-ul" id="accounting-dropdown" style="display:none;">
                    <li><a href="#" id="accounting-transactions-button" class="w3-button w3-block w3-black">Transactions</a></li>
                    <li><a href="#" id="accounting-chartofaccounts-button" class="w3-button w3-block w3-black">Chart of Accounts</a></li>
                    <li><a href="#" id="accounting-journals-button" class="w3-button w3-block w3-black">Journals</a></li>
                    <li><a href="#" id="accounting-starting-balances-button" class="w3-button w3-block w3-black">Starting Balances</a></li>
                    <li><a href="#" id="accounting-budget-button" class="w3-button w3-block w3-black">Budgeting</a></li>
                </ul>
            </fieldset>
            <!-- Banking -->
            <fieldset>
                <legend onclick="expand('banking-dropdown')" style="cursor:pointer;">Banking</legend>
                <ul class="w3-ul" id="banking-dropdown" style="display:none;">
                    <li><a href="#" id="banking-accounts-button" class="w3-button w3-block w3-black">Accounts</a></li>
                </ul>
            </fieldset>
            <!-- Payroll -->
            <fieldset>
                <legend onclick="expand('payroll-dropdown')" style="cursor:pointer;">Payroll</legend>
                <ul class="w3-ul" id="payroll-dropdown" style="display:none;">
                    <li><a href="#" id="payroll-onboard-button" class="w3-button w3-block w3-black">Onboard</a></li>
                    <li><a href="#" class="w3-button w3-block w3-black">Manage</a></li>
                    <li><a href="#" class="w3-button w3-block w3-black">Pay</a></li>
                </ul>
            </fieldset>
            <!-- Shareholders -->
            <fieldset>
                <legend onclick="expand('shareholder-dropdown')" style="cursor:pointer;">Shareholder's</legend>
                <ul class="w3-ul" id="shareholder-dropdown" style="display:none;">
                    <li><a href="#" id="shareholder-list-button" class="w3-button w3-block w3-black">Shareholder List</a></li>
                    <li><a href="#" id="shareholder-issuance-button" class="w3-button w3-block w3-black">Issue Shares</a></li>
                    <li><a href="#" id="shareholder-transfer-button" class="w3-button w3-block w3-black">Transfer Shares</a></li>
                    <li><a href="#" id="shareholder-redeem-button" class="w3-button w3-block w3-black">Redeem Shares</a></li>
                </ul>
            </fieldset>
            <!-- Reports -->
            <fieldset>
                <legend onclick="expand('reports-dropdown')" style="cursor:pointer;">Reports</legend>
                <ul class="w3-ul" id="reports-dropdown" style="display:none;">
                    <li><a href="#" id="reports-balancesheet-button" class="w3-button w3-block w3-black">Balance Sheet</a></li>
                    <li><a href="#" id="reports-incomestatement-button" class="w3-button w3-block w3-black">Income Statement</a></li>
                    <li><a href="#" class="w3-button w3-block w3-black">Aged Receivables</a></li>
                    <li><a href="#" class="w3-button w3-block w3-black">Aged Payables</a></li>
                    <li><a href="#" id="reports-trialbalance-button" class="w3-button w3-block w3-black">Trial Balances</a></li>
                    <li><a href="#" class="w3-button w3-block w3-black">General Ledger</a></li>
                    <li><a href="#" class="w3-button w3-block w3-black">Account Transactions</a></li>
                    <li><a href="#" class="w3-button w3-block w3-black">Income by Customer</a></li>
                    <li><a href="#" class="w3-button w3-block w3-black">Expense by Vendor</a></li>
                    <li><a href="#" class="w3-button w3-block w3-black">Sales Tax Report</a></li>
                    <li><a href="#" class="w3-button w3-block w3-black">Payroll Wage &amp; Tax Report</a></li>
                </ul>
            </fieldset>
            <!-- Settings -->
            <fieldset>
                <legend>Settings</legend>
                <ul class="w3-ul">
                    <li><a href="#" id="settings-button" class="w3-button w3-block w3-black">Settings</a></li>
                </ul>
            </fieldset>
            <!-- Import and Export -->
            <fieldset>
                <legend onclick="expand('import-export-dropdown')" style="cursor:pointer;">Import &amp; Export</legend>
                <ul class="w3-ul" id="import-export-dropdown" style="display:none;">
                    <li><a href="#" id="import" class="w3-button w3-block w3-black">Import</a></li>
                    <li><a href="#" class="w3-button w3-block w3-black">Export</a></li>
                </ul>
            </fieldset>
            <!-- Help -->
            <fieldset>
                <legend>Help</legend>
                <ul class="w3-ul">
                    <li><a href="#" id="help-button" class="w3-button w3-block w3-black">Help</a></li>
                </ul>
            </fieldset>
            <button id="main-back" class="w3-button w3-block w3-orange">Back</button>
            <br/><br/><br/>
            <!-- Edit Company Dialog -->
            <div id="company-edit-dialog" class="w3-modal">
                <div class="w3-modal-content">
                    <div class="w3-container w3-white">
                        <h2 class="w3-yellow">Update Company</h2>
                        <form id="edit-company-dialog-form">
                            <label for="edit-company-dialog-name">Name</label>
                            <input type="hidden" name="id" id="edit-company-dialog-id" value="0" />
                            <input type="text" class="w3-input w3-block w3-lightgrey" value="" name="name" id="edit-company-dialog-name" readonly />
                            <label for="edit-company-dialog-address1">Address</label>
                            <input type="text" class="w3-input w3-block" value="" name="address1" id="edit-company-dialog-address1" />
                            <label for="edit-company-dialog-address2">Address Line 2</label>
                            <input type="text" class="w3-input w3-block" value="" name="address2" id="edit-company-dialog-address2" />
                            <label for="edit-company-dialog-city">City</label>
                            <input type="text" class="w3-input w3-block" value="" name="city" id="edit-company-dialog-city" />
                            <label for="edit-company-dialog-state">State</label>
                            <input type="text" class="w3-input w3-block" value="" name="state" id="edit-company-dialog-state" />
                            <label for="edit-company-dialog-zipcode">Zip Code</label>
                            <input type="text" class="w3-input w3-block" value="" name="zipcode" id="edit-company-dialog-zipcode" />
                            <label for="edit-company-dialog-contact">Contact</label>
                            <input type="text" class="w3-input w3-block" value="" name="contact" id="edit-company-dialog-contact" />
                            <label for="edit-company-dialog-email">EMail</label>
                            <input type="text" class="w3-input w3-block" value="" name="email" id="edit-company-dialog-email" />
                            <label for="edit-company-dialog-phone">Phone</label>
                            <input type="text" class="w3-input w3-block" value="" name="phone" id="edit-company-dialog-phone" />
                            <label for="edit-company-dialog-fax">Fax</label>
                            <input type="text" class="w3-input w3-block" value="" name="fax" id="edit-company-dialog-fax" />
                            <label for="edit-company-dialog-website">Website</label>
                            <input type="text" class="w3-input w3-block" value="" name="website" id="edit-company-dialog-website" />
                            <button id="company-edit-dialog-save" class="w3-button w3-block w3-black">Save</button>
                            <br/>
                            <button onclick="document.getElementById('company-edit-dialog').style.display='none';return false;" class="w3-button w3-block w3-orange">Cancel</button>
                            <br/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- SALES -->
        <div w3-include-html="sales.html"></div>
        <!-- PURCHASES -->
        <div w3-include-html="purchases.html"></div>
        <!-- INVENTORY -->
        <div w3-include-html="inventory.html"></div>
        <!-- ACCOUNTING -->
        <div w3-include-html="accounting.html"></div>
        <!-- BANKING -->
        <div w3-include-html="banking.html"></div>
        <!-- PAYROLL -->
        <div w3-include-html="payroll.html"></div>
        <!-- SHAREHOLDER -->
        <div w3-include-html="shareholder.html"></div>
        <!-- REPORTS -->
        <div w3-include-html="reports.html"></div>
        <!-- SETTINGS -->
        <div w3-include-html="settings.html"></div>
        <!-- IMPORT -->
        <div w3-include-html="import.html"></div>
        <!-- EXPORT -->
        <div w3-include-html="export.html"></div>
        <!-- HELP -->
        <div w3-include-html="help.html"></div>
        <!-- SUCCESS DIALOG -->
        <div id="success-dialog" class="w3-modal">
            <div class="w3-modal-content">
            <div class="w3-container">
                <h2 class="w3-green" id="success-dialog-title">Success</h2>
                <p id="success-dialog-message"></p>
                <br />
                <button class="w3-button w3-block w3-black" id="success-dialog-ok" onclick="document.getElementById('success-dialog').style.display='none';">OK</button>
                <br />
            </div>
            </div>
        </div>
        <!-- ERROR DIALOG -->
        <div id="error-dialog" class="w3-modal">
            <div class="w3-modal-content">
            <div class="w3-container">
                <h2 class="w3-red" id="error-dialog-title">Error</h2>
                <p id="error-dialog-message"></p>
                <br />
                <button class="w3-button w3-block w3-black" id="error-dialog-ok" onclick="document.getElementById('error-dialog').style.display='none';">OK</button>
                <br />
            </div>
            </div>
        </div>
        <!-- CONFIRM DIALOG -->
        <div id="confirm-dialog" class="w3-modal">
            <div class="w3-modal-content">
            <div class="w3-container">
                <h2 class="w3-red" id="confirm-dialog-title">Error</h2>
                <p id="confirm-dialog-message"></p>
                <br />
                <button class="w3-button w3-block w3-light-grey" id="confirm-dialog-yes">Yes</button>
                <br />
                <button class="w3-button w3-block w3-light-grey" onclick="document.getElementById('confirm-dialog').style.display='none';">No</button>
                <br />
            </div>
            </div>
        </div>        
        <!-- Footer -->
        <div class="w3-container w3-card w3-blue w3-bottom">
            <p class="w3-center">
                &copy; <span id="year">2022</span>&nbsp;<a href="https://presspage.info" target="_blank" style="text-decoration: none;">PressPage Entertainment Inc</a> DBA <a href="https://pingleware.work" target="_blank" style="text-decoration:none;">PINGLEWARE</a>
                &nbsp;All rights reserved.
                &nbsp;<span class="w3-tiny" id="version"></span>
            </p>
        </div>        
        <!-- JavaScript -->
        <script type="text/javascript">
            var company = { 
                id: 0, 
                sender: "",
                name: "",
                contact: "", 
                email: "", 
                phone: "", 
                website: "", 
                address1: "", 
                address2: "", 
                city: "", 
                state: "", 
                zipcode: "", 
                phone: "", 
                fax: ""
            };

            document.addEventListener("CompanyChanged", function(e){
                e.preventDefault();
                var _company = JSON.parse(localStorage.getItem("selected_company"));
                console.log(_company)
                company.contact = _company.contact; 
                company.email = _company.email;
                company.phone = _company.phone; 
                company.website = _company.website; 
                company.address1 = _company.address1; 
                company.address2 = _company.address2; 
                company.city = _company.city;
                company.state = _company.state; 
                company.zipcode = _company.zipcode;
                company.phone = _company.phone; 
                company.fax = _company.fax;

                company.name = document.getElementById("main-company-name").innerHTML;
                company.sender = localStorage.getItem("company_sender_email");

                console.log(company)

            })

            document.addEventListener("CompanySenderChanged", function(e){
                e.preventDefault();
                company.sender = localStorage.getItem("company_sender_email");
                console.log(company);
            });

            document.getElementById("main-company-name").addEventListener("click", function(e){
                e.preventDefault();
                document.getElementById("edit-company-dialog-id").value = company.id;
                document.getElementById("edit-company-dialog-name").value = company.name;
                document.getElementById("edit-company-dialog-address1").value = company.address1;
                document.getElementById("edit-company-dialog-address2").value = company.address2;
                document.getElementById("edit-company-dialog-city").value = company.city;
                document.getElementById("edit-company-dialog-state").value = company.state;
                document.getElementById("edit-company-dialog-zipcode").value = company.zipcode;
                document.getElementById("edit-company-dialog-contact").value = company.contact;
                document.getElementById("edit-company-dialog-email").value = company.email;
                document.getElementById("edit-company-dialog-phone").value = company.phone;
                document.getElementById("edit-company-dialog-fax").value = company.fax;
                document.getElementById("edit-company-dialog-website").value = company.website;
                document.getElementById("company-edit-dialog").style.display = 'block';
                return false;
            });


        </script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript" src="js/sales.js"></script>
        <script type="text/javascript" src="js/purchase.js"></script>
        <script type="text/javascript" src="js/inventory.js"></script>
        <script type="text/javascript" src="js/accounting.js"></script>
        <script type="text/javascript" src="js/banking.js"></script>
        <script type="text/javascript" src="js/payroll.js"></script>
        <script type="text/javascript" src="js/shareholder.js"></script>
        <script type="text/javascript" src="js/reports.js"></script>
        <script type="text/javascript" src="js/settings.js"></script>
        <script type="text/javascript" src="js/import.js"></script>
        <script type="text/javascript" src="js/export.js"></script>
        <script type="text/javascript" src="js/help.js"></script>
        <script type="text/javascript">
            window.onload = function() {
                document.getElementById('version').innerHTML = 'Version ' + localStorage.getItem('version');

                var year = new Date().getFullYear();
                if (year > 2022) {
                    document.getElementById('year').innerHTML = `2003-${year}`;
                } else {
                    document.getElementById('year').innerHTML = year;
                }


                var companies = localStorage.getItem("companies");
                if (companies.length > 0) {
                    companies = JSON.parse(localStorage.getItem("companies"));
                }
                console.log(companies)
                document.getElementById("company-list").innerHTML = '<option value="">Select</option>';
                companies.forEach(function(company){
                    if (company.name !== "undefined") {
                        var option = document.createElement('option');
                        option.value = company.id;
                        option.innerHTML = company.name;
                        option.setAttribute("data-name",company.name);
                        option.setAttribute("data-company",btoa(JSON.stringify(company)));
                        document.getElementById("company-list").appendChild(option);
                    }
                })

                w3.includeHTML(function(){
                    sales_load();
                    purchases_load();
                    inventory_load();
                    accounting_load();
                    banking_load();
                    payroll_load();
                    shareholder_load();
                    reports_load();
                    settings_load();
                    import_load();
                    export_load();
                    help_load();
                });
            }

            document.getElementById("company-edit-dialog-save").addEventListener("click",function(e){
                e.preventDefault();
                var formData = getData(document.getElementById("edit-company-dialog-form"));
                console.log(formData);
                SendIPC("update_company",JSON.stringify(formData),function(channel,event,result){
                    window.location.reload();
                })
            })
            

            document.getElementById("company-list").addEventListener("change", function(e){
                e.preventDefault();
                if (this.value !== "") {
                    var base64 = this.options[this.selectedIndex].getAttribute("data-company");
                    var json = atob(base64);
                    localStorage.setItem("selected_company",json);

                    //company.id = this.value;
                    

                    localStorage.setItem("company_id",this.value);

                    document.getElementById("main-company-name").innerHTML = this.options[this.selectedIndex].getAttribute("data-name");

                    var split = new Date().toString().split(" ");
                    var timeZoneFormatted = split[5];
                    document.getElementById("main-company-timezone").innerHTML = timeZoneFormatted;

                    document.dispatchEvent(new Event("CompanyChanged"));

                    document.getElementById("company").style.display = "none";
                    document.getElementById("main").style.display = "block";
                } else {
                    company.id = 0;
                    company.sender = "";
                    company.name = "";
                    company.contact = ""; 
                    company.email = "";
                    company.phone = ""; 
                    company.website = ""; 
                    company.address1 = ""; 
                    company.address2 = ""; 
                    company.city = "";
                    company.state = ""; 
                    company.zipcode = "";
                    company.phone = ""; 
                    company.fax = "";
                }
            })

            function expand(element_id) {
                var element = document.getElementById(element_id);
                if (element.style.display == "none") {
                    element.style.display = "block";
                } else {
                    element.style.display = "none";
                }
            }

            document.getElementById("add-company").addEventListener("click", function(e){
                e.preventDefault();
                var data = {
                    name: document.getElementById("company-name").value,
                    note: document.getElementById('company-note').value
                }
                SendIPC('add_company',JSON.stringify(data),function(channel,event,result){
                    window.location.reload();
                })
            });
            document.getElementById("main-back").addEventListener("click",function(e){
                e.preventDefault();
                company.id = 0;
                company.name = '';

                document.getElementById("company-list").value = "";

                document.getElementById("main").style.display = "none";
                document.getElementById("company").style.display = "block";
            });
        </script>
    </body>
</html>